@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
    font-family: "Nunito", sans-serif;
}

.btn-small {
    margin: 25px;
}

.flash {
    color: white;
}

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.footer h5 {
    color: white;
}

.copyright {
    text-align: center;
}

.about {
    margin: 28px;
}

.img_small {
    width: 100px;
    height: auto;
}

.btn-small {
    margin: 10px;
}

.tickets {
    margin-top: 20px;
    margin-bottom: 18px;
}

strong {
    font-weight: bold;
}

/*----------------Media Query----------*/

@media(max-width: 540px) {
    nav .brand-logo{
        font-size: 1.3rem;
    }
}