.btn-small {
    margin: 25px;
}

.flash {
    color: white;
}

.carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel .carousel-item>img {
    width: 100%;
    height: auto;
}

.footer {
    flex-shrink: 0;
}

footer h5 {
    color: white;
}

.copyright {
    text-align: center;
}

.about {
    margin: 28px;
}

.img_small {
    width: 100px;
    height: auto;
}

.btn-small {
    margin: 10px;
}

.tickets {
    margin-top: 20px;
    margin-bottom: 18px;
}


/*----------------Media Query----------*/

@media(max-width: 540px) {
    nav .brand-logo{
        font-size: 1.3rem;
    }
}