@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
    font-family: "Nunito", sans-serif;
}

.btn-small {
    margin: 25px;
}

.flash {
    color: white;
}

.carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel .carousel-item>img {
    width: 100%;
    height: auto;
}

/* .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
} */


.footer h5 {
    color: white;
}

.copyright {
    text-align: center;
}

.about {
    margin: 28px;
}

.img_small {
    width: 100px;
    height: auto;
}

.btn-small {
    margin: 10px;
}

.tickets {
    margin-top: 20px;
    margin-bottom: 18px;
}


/*----------------Media Query----------*/

@media(max-width: 540px) {
    nav .brand-logo{
        font-size: 1.3rem;
    }
}