{% extends "base.html" %}
{% block content %}

<h4 class="center-align">Add an Activity</h4>
<p class="center-align">Add an Activity or place that you have visited that does not currently exist on our website that
    you think others
    would enjoy.</p>

<div class="row card teal lighten-5">
    <form method="POST" action="{{ url_for('add_activity') }}">
        <!--category section-->
        <div class="row col s12 m6">
            <div class="input-field col s12">
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Activity Category</label>
            </div>
        </div>
        <!--Place Name-->
        <div class="row col s12 m6">
            <div class="input-field col s12">
                <input id="name" name="name" type="text" class="validate" maxlength="40" required>
                <label for="name">Place Name</label>
            </div>
        </div>
        <!--Place Description-->
        <div class="row col s12 m6">
            <div class="input-field col s12">
                <textarea id="description" name="description" minlength="15" maxlength="350"
                    class="validate materialize-textarea"></textarea>
                <label for="description">Place Description</label>
            </div>
        </div>
        <!--Age Range-->
        <div class="row col s12 m6">
            <div class="input-field col s12">
                <select id="age" name="age" class="validate" required>
                    <option value="" disabled selected>Choose Age Range</option>
                    {% for ages in age_ranges %}
                    <option value="{{ ages.age }}">{{ ages.age }}</option>
                    {% endfor %}
                </select>
                <label for="age">Age Range</label>
            </div>
        </div>
        <!--Location-->
        <div class="row col s12 m6">
            <div class="input-field col s12">
                <textarea id="location" name="location" minlength="3" maxlength="30"
                    class="validate materialize-textarea" required></textarea>
                <label for="description">Place Location</label>
            </div>
        </div>
        <!--Ticket Link-->
        <div class="row col s12 m6">
            <div class="input-field col s12">
                <input type="url" id="ticket_link" name="ticket_link" minlength="10" maxlength="250"
                    class="input-field"></input>
                <label for="description">Ticket Link</label>
                <span class="helper-text" data-error="wrong" data-success="right">Add a link to purchasing tickets if you have one</span>
            </div>
        </div>
        <!--Image-->
        <div class="row col s12 m6">
            <div class="input-field col s12">
                <input type="url" id="image" name="image" minlength="10" maxlength="250"
                    class="input-field">
                <label for="description">Place Image</label>
                <span class="helper-text" data-error="wrong" data-success="right">Add a link to an image if you have
                    one</span>
            </div>
        </div>
        <!--submit button-->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn waves-effect waves-light teal">
                    Submit</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}