{% extends "base.html" %}
{% block content %}

<h4 class="center-align">Add an Activity</h4>
<p class="center-align">Add an Activity or place that you have visited that does not currently exist on our website that you think others
    would enjoy.</p>

<div class="row card teal lighten-5">
    <form method="POST" action="{{ url_for('form') }}">
        <!--category section-->
        <div class="row col s12 m6">
            <div class="input-field col s12">
                <i class="prefix light-blue-text text-darken-4"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Activity Category</label>
            </div>
        </div>
        <!--Place Name-->
        <div class="row col s12 m6">
            <div class="input-field col s12">
                <i class="prefix light-blue-text text-darken-4"></i>
                <input id="name" name="name" type="text" class="validate" required>
                <label for="name">Place Name</label>
            </div>
        </div>
        <!--Place Description-->
        <div class="row col s12 m6">
            <div class="input-field col s12">
                <i class="prefix light-blue-text text-darken-4"></i>
                <textarea id="description" name="description" minlength="15" maxlength="350"
                    class="materialize-textarea"></textarea>
                <label for="description">Place Description</label>
            </div>
        </div>
        <!--Age Range-->
        <div class="row col s12 m6">
            <div class="input-field col s12">
                <i class="prefix light-blue-text text-darken-4"></i>
                <select id="age" name="age" class="validate" required>
                    <option value="" disabled selected>Choose Age Range</option>
                    {% for ages in age_ranges %}
                    <option value="{{ ages.age }}">{{ ages.age }}</option>
                    {% endfor %}
                </select>
                <label for="age">Age Range</label>
            </div>
        </div>
        <!--Location-->
        <div class="row col s12 m6">
            <div class="input-field col s12">
                <i class="prefix light-blue-text text-darken-4"></i>
                <textarea id="location" name="location" minlength="3" maxlength="30"
                    class="materialize-textarea"></textarea>
                <label for="description">Place Location</label>
            </div>
        </div>
        <!--Image-->
        <div class="row col s12 m6">
            <div class="input-field col s12">
                <i class="prefix light-blue-text text-darken-4"></i>
                <textarea id="image" name="image" minlength="15" maxlength="100"
                    class="materialize-textarea"></textarea>
                <label for="description">Place Image - add a link to an image if you have one</label>
            </div>
        </div>
        <!--submit button-->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn waves-effect waves-light teal">
                    Submit</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}