{% extends "base.html" %}
{% block content %}

<div class="images carousel carousel-slider">
  <a class="carousel-item"><img src="./static/images/eicc.jpg" alt="Picture of children climbing wall at the EICC"></a>
  <a class="carousel-item"><img src="./static/images/edinburgh_zoo.jpg" alt="Panda sitting in enclosure"></a>
  <a class="carousel-item"><img src="./static/images/wildshore.jpg" alt="People jumping into water from inflatable"></a>
</div>

<section class="center-align about">

  <p>Childrens Day Out is a place where you can find the perfect activity for your
  children no matter the weather in the East of Scotland.
  With a list of different types of activities and accessibility for you to purchase tickets quickly
  from our site, Childrens Day Out has all you need in one place for your next great day out.</p>

  <p>You can also help other families by adding in places and activities that you have visited into our website that are
  not yet already here. We want to create a community for the families in the East of Scotland where they can share their
  experiances and all the family can have a memorable time.</p>

  <p>We believe you will find your next great day out from us here at Childrens Day Out.</p>

</section>


{% endblock %}